<div class="container">

    <div class="users-list">
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user1">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user2">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user3">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user4">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user5">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user6">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user7">
                Андрюшкааа
            </div>
        </div>
        <div class="user-game-avatar">
            <div class="user-game-avatar__name-container" id="user8">
                Андрюшкааа
            </div>
        </div>

    </div>

    <div class="menu-container">
        <div class="menu-item">
            Начать
        </div>
        <div class="menu-item">
            Выход
        </div>
    </div>

</div>