.container
    .users-list
        .user-game-avatar
            #user1.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user2.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user3.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user4.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user5.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user6.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user7.user-game-avatar__name-container
                | Андрюшкааа
        .user-game-avatar
            #user8.user-game-avatar__name-container
                | Андрюшкааа
    .menu-container
        .menu-item
            | Начать
        .menu-item
            | Выход