.container
    .users-list
        #user1.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user2.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user3.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user4.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user5.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user6.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user7.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
        #user8.user-game-avatar
            .user-game-avatar__name-container.none
                | Имя
    .menu-container
        .menu-item
            | Начать
        .menu-item#exitButton
            | Выход