#user1.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user2.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user3.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user4.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user5.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user6.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user7.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя
#user8.user-game-avatar
    .user-game-avatar__name-container.user-game-avatar__name-container_none
        | Имя