#container.container
    #usersList.users-list
    .menu-container
        .lobby-code
            .lobby-code__text
                | Код комнаты:
            .lobby-code__input-block
                input#roomCodeInput.standart-input.standart-input__uppercase(type='text' maxlength='4')
        #beginButton.menu-item.menu-item_none
            | Начать
        #exitButton.menu-item
            | Выход