.container
    .standart-button.standart-button_size_l.ingame-menu-button
        .menu-icon
    .standart-button.standart-button_size_m.ingame-pull-out-mode-button
        .pull-out-mode-icon
    .standart-button.standart-button_size_m.ingame-confirm-button
        .confirm-icon
    .ingame-page-upper-cap
    .players-circle#playersCircle
        .cur-situation-card.

                  Когда вы списываете тест и смотрите в глаза учителю

        .situation-card-deck
        .meme-card-deck
        .players-circle__container
            .user-game-avatar
                .user-game-avatar__name-container#user1.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

            .user-game-avatar
                .user-game-avatar__name-container#user2.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

                .user-game-avatar__host-label
            .user-game-avatar
                .user-game-avatar__name-container#user3.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

                .user-game-avatar__judge-emblem
            .user-game-avatar
                .user-game-avatar__name-container#user4.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

            .user-game-avatar
                .user-game-avatar__name-container#user5.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

            .user-game-avatar
                .user-game-avatar__name-container#user6.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

            .user-game-avatar
                .user-game-avatar__name-container#user7.

                              Андрюшкааа

                .user-game-avatar__score-block
                    .star-icon
                    .user-game-avatar__score-amount.

                                    0

    .player-hand
        .meme-card
            .meme-card__meme
        .meme-card
            .meme-card__meme
        .meme-card
            .meme-card__meme
        .meme-card
            .meme-card__meme
        .meme-card
            .meme-card__meme
        .meme-card
            .meme-card__meme
        .meme-card
            .meme-card__meme