<div class="container">

    <div class="standart-button standart-button_size_l ingame-menu-button">
        <div class="menu-icon"></div>
    </div>
    <div class="standart-button standart-button_size_m ingame-pull-out-mode-button">
        <div class="pull-out-mode-icon"></div>
    </div>
    <div class="standart-button standart-button_size_m ingame-confirm-button">
        <div class="confirm-icon"></div>
    </div>

    <div class="ingame-page-upper-cap"></div>

    <div class="players-circle" id="playersCircle">

        <div class="cur-situation-card">
            Когда вы списываете тест и смотрите в глаза учителю
        </div>
        <div class="situation-card-deck"></div>
        <div class="meme-card-deck"></div>

        <div class="players-circle__container">

            <div class="user-game-avatar">

                <div class="user-game-avatar__name-container" id="user1">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>

            </div>
            <div class="user-game-avatar">

                <div class="user-game-avatar__name-container" id="user2">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>
                <div class="user-game-avatar__host-label"></div>

            </div>
            <div class="user-game-avatar">
                <div class="user-game-avatar__name-container" id="user3">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>
                <div class="user-game-avatar__judge-emblem"></div>

            </div>
            <div class="user-game-avatar">
                <div class="user-game-avatar__name-container" id="user4">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>

            </div>
            <div class="user-game-avatar">
                <div class="user-game-avatar__name-container" id="user5">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>

            </div>
            <div class="user-game-avatar">
                <div class="user-game-avatar__name-container" id="user6">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>

            </div>
            <div class="user-game-avatar">
                <div class="user-game-avatar__name-container" id="user7">
                    Андрюшкааа
                </div>
                <div class="user-game-avatar__score-block">
                    <div class="star-icon"></div>
                    <div class="user-game-avatar__score-amount">
                        0
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="player-hand">
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>
        <div class="meme-card">
            <div class="meme-card__meme"></div>
        </div>

    </div>

</div>