.container
    .standart-button.standart-button_size_l.ingame-menu-button
        .menu-icon
    .results-list
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m
        .meme-card.meme-card_size_m