#container.container
    #extraSituationCard.situation-card-deck.situation-card-deck_extra
    .standart-button.standart-button_size_l.ingame-menu-button
        .menu-icon
    .standart-button.standart-button_size_m.ingame-pull-out-mode-button
        .pull-out-mode-icon
    #selfJudgeEmblem.self_judge_emblem.self_judge_emblem_none.standart-button_size_l
    #confirmButton.standart-button.standart-button_size_m.ingame-confirm-button
        .confirm-icon
    .ingame-page-upper-cap
    #playersCircle.players-circle
        #playersContainer.players-circle__container
    #situationCardDeck.situation-card-deck.situation-card_backside
    #memeCardDeck.meme-card-deck
    #playerHand.player-hand
    #selfScore.self-score-block
        .self-star-icon
        .self-score-block__score-amount
            | 0
