.user-game-avatar
    .user-game-avatar__judge-emblem.user-game-avatar__judge-emblem_none
    .user-game-avatar__name-container
        | Андрюшкааа
    .user-game-avatar__score-block
        .star-icon
        .user-game-avatar__score-amount
            | 0