.container
    .standart-button.standart-button_size_l.ingame-menu-button
        .menu-icon
    .standart-button.standart-button_size_m.ingame-pull-out-mode-button
        .pull-out-mode-icon
    #confirmButton.standart-button.standart-button_size_m.ingame-confirm-button
        .confirm-icon
    .ingame-page-upper-cap
    #playersCircle.players-circle
        .cur-situation-card
            | Когда вы списываете тест и смотрите в глаза учителю
        .situation-card-deck
        #memeCardDeck.meme-card-deck
        #playersContainer.players-circle__container
    #playerHand.player-hand
