@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --figma-game-area-height: 1024;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.wrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../img/defaultBackground.png) repeat center/auto, #117EE2 no-repeat center/cover;
}

.container {
  margin: 0;
  /*width: 75%;*/
  /*height: 100%;*/
  /*width: 140vh;*/
  /*height: 100vh;*/
  background: radial-gradient(50% 50% at 50% 50%, #8D91F0 0%, #117EE2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container_nopointer {
  pointer-events: none;
}

@media (min-aspect-ratio: 14/10) {
  :root {
    --game-area-height: 100vh;
  }

  .container {
    width: 140vh;
    height: 100vh;
  }
}
@media (max-aspect-ratio: 14/10) {
  :root {
    --game-area-height: 71vw;
  }

  .container {
    width: 100vw;
    height: 71vw;
  }
}
.players-circle {
  position: relative;
  width: 82.5%;
  height: 70%;
  /*margin-top: 12.6vh;*/
}

.players-circle__container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.ingame-page-upper-cap {
  width: 100%;
  height: 12.6%;
}

.ingame-menu-button {
  position: absolute;
  top: max(0px, calc(30 / var(--figma-game-area-height) * var(--game-area-height)));
  left: max(0px, calc(30 / var(--figma-game-area-height) * var(--game-area-height)));
}

.ingame-pull-out-mode-button {
  position: absolute;
  bottom: max(0px, calc(40 / var(--figma-game-area-height) * var(--game-area-height)));
  left: max(0px, calc(40 / var(--figma-game-area-height) * var(--game-area-height)));
}

.ingame-confirm-button {
  position: absolute;
  bottom: max(0px, calc(40 / var(--figma-game-area-height) * var(--game-area-height)));
  right: max(0px, calc(40 / var(--figma-game-area-height) * var(--game-area-height)));
}

.self_judge_emblem {
  position: absolute;
  bottom: max(0px, calc(40 / var(--figma-game-area-height) * var(--game-area-height)));
  right: max(0px, calc(40 / var(--figma-game-area-height) * var(--game-area-height)));
  background: url(../img/judgeEmblemIcon.png) no-repeat center/cover;
  z-index: 11;
}

.self_judge_emblem_none {
  display: none;
}

.self-score-block {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: max(0px, calc(15 / var(--figma-game-area-height) * var(--game-area-height)));
}

.self-score-block__score-amount {
  font-size: max(0px, calc(34 / var(--figma-game-area-height) * var(--game-area-height)));
  font-weight: bold;
  color: white;
}

/*.cur-situation-card {*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/
/*    !*height: 340px;*!*/
/*    !*width: 251px;*!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: #1769E3;*/
/*    border: 5px solid #AD00FF;*/
/*    border-radius: 8px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*    padding: 20px;*/
/*}*/
.situation-card-deck {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /*height: 185px;*/
  /*width: 137px;*/
  height: max(0px, calc(277 / var(--figma-game-area-height) * var(--game-area-height)));
  width: max(0px, calc(205 / var(--figma-game-area-height) * var(--game-area-height)));
  background: #1769E3;
  border: max(0px, calc(5 / var(--figma-game-area-height) * var(--game-area-height))) solid #AD00FF;
  border-radius: max(0px, calc(8 / var(--figma-game-area-height) * var(--game-area-height)));
  color: white;
  font-weight: bold;
  font-size: max(0px, calc(20 / var(--figma-game-area-height) * var(--game-area-height)));
  line-height: max(0px, calc(28 / var(--figma-game-area-height) * var(--game-area-height)));
  padding: max(0px, calc(10 / var(--figma-game-area-height) * var(--game-area-height)));
  z-index: 1;
  backface-visibility: hidden;
}

.situation-card-deck_extra {
  left: 0;
  transform: translate(55%, -50%) scale(1.8);
  display: none;
}

.meme-card-deck {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  /*height: 185px;*/
  /*width: 137px;*/
  height: max(0px, calc(277 / var(--figma-game-area-height) * var(--game-area-height)));
  width: max(0px, calc(205 / var(--figma-game-area-height) * var(--game-area-height)));
  /*background: url(../img/memeCardIcon.png) no-repeat center/50%,*/
  /*#A00CC6;*/
  background: #A00CC6;
  border: max(0px, calc(5 / var(--figma-game-area-height) * var(--game-area-height))) solid #EE3434;
  border-radius: max(0px, calc(8 / var(--figma-game-area-height) * var(--game-area-height)));
}

.player-hand {
  position: absolute;
  left: 50%;
  bottom: max(0px, calc(100 / var(--figma-game-area-height) * var(--game-area-height)));
  display: flex;
  transform: translate(-50%);
  width: 100%;
  justify-content: center;
  z-index: 2;
}

.results-list {
  width: 100%;
  margin: auto 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 7%;
  row-gap: 5vh;
}

.round-results-container {
  position: absolute;
  z-index: 200;
}

@keyframes animation-show-round-results-container {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes animation-hide-round-results-container {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
.round-results-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: max(0px, calc(80 / var(--figma-game-area-height) * var(--game-area-height)));
  font-weight: bold;
  color: #FAF009;
  margin-top: 5%;
}

.round-winner-title {
  position: absolute;
  width: max-content;
  top: -20%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: max(0px, calc(30 / var(--figma-game-area-height) * var(--game-area-height)));
  font-weight: bold;
  color: #FAF009;
  transform: translate(-50%, -50%);
}

.round-winner-nickname {
  position: absolute;
  width: max-content;
  bottom: -20%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: max(0px, calc(20 / var(--figma-game-area-height) * var(--game-area-height)));
  font-weight: bold;
  color: #FAF009;
  transform: translate(-50%, -50%);
}

.your-turn-title {
  position: absolute;
  top: 20%;
  left: 50%;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: max(0px, calc(84 / var(--figma-game-area-height) * var(--game-area-height)));
  font-weight: bold;
  color: #FAF009;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes animation-show-your-turn-title {
  0% {
    top: -20%;
  }
  100% {
    top: 20%;
  }
}
.meme-card {
  height: max(0px, calc(185 / var(--figma-game-area-height) * var(--game-area-height)));
  width: max(0px, calc(137 / var(--figma-game-area-height) * var(--game-area-height)));
  background: url(../img/defaultBackground.png) repeat center/40%, #A00CC6 no-repeat center/cover;
  border: max(0px, calc(5 / var(--figma-game-area-height) * var(--game-area-height))) solid #EE3434;
  border-radius: max(0px, calc(8 / var(--figma-game-area-height) * var(--game-area-height)));
  /*transition: all 0.1s linear 0s;*/
  visibility: hidden;
  backface-visibility: hidden;
}

.meme-card:hover {
  border-color: #6FEE34;
  z-index: 100;
}

.meme-card_nohover:hover {
  border-color: #EE3434;
  z-index: unset;
}

.flipping-card {
  position: absolute;
  z-index: 2;
  height: max(0px, calc(185 / var(--figma-game-area-height) * var(--game-area-height)));
  width: max(0px, calc(137 / var(--figma-game-area-height) * var(--game-area-height)));
  transform-style: preserve-3d;
}

.flipping-card__back-side {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.flipping-card__back-side_meme {
  background: #A00CC6;
  border: max(0px, calc(5 / var(--figma-game-area-height) * var(--game-area-height))) solid #EE3434;
  border-radius: max(0px, calc(8 / var(--figma-game-area-height) * var(--game-area-height)));
}

.flipping-card__back-side_situation {
  background: #1769E3;
  border: max(0px, calc(5 / var(--figma-game-area-height) * var(--game-area-height))) solid #AD00FF;
  border-radius: max(0px, calc(8 / var(--figma-game-area-height) * var(--game-area-height)));
}

@keyframes animation-situation-card-take {
  40% {
    transform: translate(-100%, 0) rotateY(-180deg) translate(-50%, -20%) scale(0.9);
  }
  70% {
    transform: rotateY(-90deg) translate(50%, -20%) scale(0.9);
  }
  100% {
    transform: none;
  }
}
@keyframes animation-situation-card-remove {
  100% {
    transform: scale(0.7);
    top: -50%;
    left: 50%;
  }
}
@keyframes animation-popup-card {
  0% {
    top: -40%;
  }
  100% {
    top: 40%;
  }
}
.popup-card {
  top: -40%;
  left: 50%;
}

.meme-card_selected {
  border-color: #0c51ba;
}

.meme-card_selected:hover {
  border-color: #0c51ba;
}

.meme-card_in_hand {
  margin-left: -2.17%;
}

.meme-card__meme {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/shrekMeme.jpg);
  border-radius: max(0px, calc(4 / var(--figma-game-area-height) * var(--game-area-height)));
}

.meme-card_size_m {
  /*transform: scale(1.5);*/
  width: max(0px, calc(205 / var(--figma-game-area-height) * var(--game-area-height)));
  height: max(0px, calc(276 / var(--figma-game-area-height) * var(--game-area-height)));
}

/*# sourceMappingURL=ingamePage.css.map */
