.players-circle {
    position: relative;
    width: 82.5%;
    height: 70%;
    /*margin-top: 12.6vh;*/
}

.players-circle__container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.ingame-page-upper-cap {
    width: 100%;
    height: 12.6%;
}

.ingame-menu-button {
    position: absolute;
    top: 30px;
    left: 30px;
}

.ingame-pull-out-mode-button {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.ingame-confirm-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

/*.cur-situation-card {*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/
/*    !*height: 340px;*!*/
/*    !*width: 251px;*!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: #1769E3;*/
/*    border: 5px solid #AD00FF;*/
/*    border-radius: 8px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*    padding: 20px;*/
/*}*/

.situation-card-deck {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    /*height: 185px;*/
    /*width: 137px;*/
    height: 277px;
    width: 205px;
    background: #1769E3;
    border: 5px solid #AD00FF;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 20px;
    z-index: 1;
}

.situation-card-deck_extra {
    left: 0;
    transform: translate(0, -50%);
    display: none;
}

.meme-card-deck {
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
    /*height: 185px;*/
    /*width: 137px;*/
    height: 277px;
    width: 205px;
    background: #A00CC6;
    border: 5px solid #EE3434;
    border-radius: 8px;
}

.player-hand {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: flex;
    transform: translate(-50%);
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.results-list {
    width: 100%;
    margin: auto 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 7%;
    row-gap: 5vh;
}