.players-circle {
    position: relative;
    width: 82.5%;
    height: 70%;
    /*margin-top: 12.6vh;*/
}

.players-circle__container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.ingame-page-upper-cap {
    width: 100%;
    height: 12.6%;
}

.ingame-menu-button {
    position: absolute;
    top: 30px;
    left: 30px;
}

.ingame-pull-out-mode-button {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.ingame-confirm-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.self_judge_emblem {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: url(../img/judgeEmblemIcon.png) no-repeat center/cover;
    z-index: 11;
}

.self_judge_emblem_none {
    display: none;
}

.self-score-block {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.self-score-block__score-amount {
    font-size: 34px;
    font-weight: bold;
    color: white;
}

/*.cur-situation-card {*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/
/*    !*height: 340px;*!*/
/*    !*width: 251px;*!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: #1769E3;*/
/*    border: 5px solid #AD00FF;*/
/*    border-radius: 8px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*    padding: 20px;*/
/*}*/

.situation-card-deck {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    /*height: 185px;*/
    /*width: 137px;*/
    height: 277px;
    width: 205px;
    background: #1769E3;
    border: 5px solid #AD00FF;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding: 10px;
    z-index: 1;
    backface-visibility: hidden;
}

.situation-card-deck_extra {
    left: 0;
    transform: translate(0, -50%);
    display: none;
}

.meme-card-deck {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    /*height: 185px;*/
    /*width: 137px;*/
    height: 277px;
    width: 205px;
    /*background: url(../img/memeCardIcon.png) no-repeat center/50%,*/
    /*#A00CC6;*/
    background: #A00CC6;
    border: 5px solid #EE3434;
    border-radius: 8px;
}

.player-hand {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: flex;
    transform: translate(-50%);
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.results-list {
    width: 100%;
    margin: auto 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 7%;
    row-gap: 5vh;
}

.round-results-container {
    position: absolute;
    z-index: 200;
}

@keyframes animation-show-round-results-container {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes animation-hide-round-results-container {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

.round-results-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    color: #FAF009;
    margin-top: 5%;
}

.round-winner-title {
    position: absolute;
    width: max-content;
    top: -20%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #FAF009;
    transform: translate(-50%, -50%);
}

.round-winner-nickname {
    position: absolute;
    width: max-content;
    bottom: -20%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #FAF009;
    transform: translate(-50%, -50%);
}

.your-turn-title {
    position: absolute;
    top: 20%;
    left: 50%;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 84px;
    font-weight: bold;
    color: #FAF009;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@keyframes animation-show-your-turn-title {
    0% {
        top: -20%;
    }
    100% {
        top: 20%;
    }
}