.container
    .main-page-container
        .menu-container
            .user-settings
                .user-settings__user-avatar
                .user-settings__input-block
                    input#usernameInput.standart-input(type='text' maxlength='10' name='userName' value='')
            #createButton.menu-item Создать комнату
            #joinButton.menu-item Присоединиться
            #rulesButton.menu-item Правила
