.container
    .main-page-container
        .menu-container
            .user-settings
                .user-settings__user-avatar
                .user-settings__input-block
                    input#usernameInput.username-input(type='text' maxlength='10' name='userName' value='')
            .menu-item#createButton Создать комнату
            .menu-item#connectButton Присоединиться
            .menu-item Правила
