<div class="container">
    <div class="main-page-container">
        <div class="menu-container">

            <div class="user-settings">
                <div class="user-settings__user-avatar"></div>
                <div class="user-settings__input-block">
                    <input class="username-input" id="usernameInput" type="text" maxlength="10" name="userName"
                           value="">
                </div>
            </div>

            <div class="menu-item">
                Создать комнату
            </div>
            <div class="menu-item" id="connectButton">
                Присоединиться
            </div>
            <div class="menu-item">
                Правила
            </div>

        </div>
    </div>
</div>