<div class="container">

    <div class="menu-container">

        <div class="lobby-code">
            <div class="lobby-code__text">
                Код комнаты:
            </div>
            <div class="lobby-code__input-block">
                <input class="standart-input standart-input__uppercase" id="lobbyCodeInput" type="text" maxlength="4"
                       value="XXXX">
            </div>

        </div>

        <div class="menu-item">
            Присоединиться
        </div>
        <div class="menu-item" id="exitButton">
            Назад
        </div>
    </div>

</div>