.container
    .menu-container
        .lobby-code
            .lobby-code__text
                | Код комнаты:
            .lobby-code__input-block
                input#roomCodeInput.standart-input.standart-input__uppercase(type='text' maxlength='4' value='XXXX')
        .menu-item#joinButton
            | Присоединиться
        .menu-item#exitButton
            | Назад